
<footer>
    <div class="footer-container">
      <div class="footer-col">
        <h3>About Us</h3>
        <p>
          We make sure that searching for an accommodation is as easy as pie
        </p>
      </div>

      <div class="footer-col">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="/main">Home</a></li>
          <li><a href="/booking">Booking</a></li>
          <li><a href="/calendar">Calendar</a></li>
          <li><span><a href="/registration">Sign up!</a>/<a href="/login">Sign in!</a></span></li>
        </ul>
      </div>

      

     
    </div>

    <div class="footer-bottom">
      © 2025 {{company}} — All Rights Reserved
    </div>
  </footer>