
<footer>
    <div class="footer-container">
      <div class="footer-col">
        <h3>About Us</h3>
        <p>
          We make sure that searching for an accommodation is as easy as pie
        </p>
      </div>

      <div class="footer-col">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="/main">Home <i class="bi bi-house"></i></a></li>
          <li><a href="/booking">Booking <i class="bi bi-journal-text"></i></a></li>
          <li><a href="/calendar">Calendar <i class="bi bi-calendar"></i></a></li>
           <li *ngIf="!isLoggedIn"><span><a href="/registration">Sign up! <i class="bi bi-arrow-up-circle"></i></a>/
            <a href="/login">Sign in! <i class="bi bi-box-arrow-up-left"></i></a></span></li>
        </ul>
      </div>

      

     
    </div>

    <div class="footer-bottom">
      © 2025 {{company}} — All Rights Reserved
    </div>
  </footer>