<div class="form-container bookinglist-container">

  <h3 class="text-center mt-3">Bookings</h3>
<hr>
    <div class="row">

        <!-- Left column: Email & Name -->
        <div class="col-md-6 mb-4">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="Emailfield" [(ngModel)]="User.email" #emailModel="ngModel"
                required
                email >
                <label for="Emailfield">Email address</label>
                <small class="text-danger" 
                *ngIf="emailModel.value && !emailRegExp.test(emailModel.value)">
                    Kérem írjon be egy helyes emailt
                </small>
                
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="Namefield" [(ngModel)]="User.name">
                <label for="Namefield">Név</label>
            </div>

            <button [disabled]="!emailRegExp.test(emailModel.value)" type="submit" class="btn btn-primary w-100" >Adatmódosítás</button>
        </div>

        <!-- Right column: Password change -->
        <div class="booking-box">
    <div class="date-group">
        <div>
            <label for="checkin">Érkezés</label>
            <input type="date" id="checkin">
        </div>

        <div>
            <label for="checkout">Távozás</label>
            <input type="date" id="checkout">
        </div>
    </div>

    <button onclick="saveDates()">Dátumok mentése</button>

    <div class="result" id="result"></div>
</div>

  
  
  <button type="submit" class="btn btn-primary">Submit</button>





<script>
function saveDates() {
    const checkin = document.getElementById("checkin").value;
    const checkout = document.getElementById("checkout").value;

    if (!checkin || !checkout) {
        alert("Válaszd ki mindkét dátumot!");
        return;
    }

    if (checkout <= checkin) {
        alert("A távozás dátuma későbbi kell legyen!");
        return;
    }

    // Itt tudod később felhasználni
    console.log("Érkezés:", checkin);
    console.log("Távozás:", checkout);

    document.getElementById("result").innerHTML =
        `Érkezés: <strong>${checkin}</strong><br>
         Távozás: <strong>${checkout}</strong>`;
}
</script>