<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <span>
      
      <a class="navbar-brand" routerLink="main">
        <span ><img id="icon" src="./favicon.ico" alt=""></span>
        <span ><b>{{title}}</b> </span>
        <span *ngIf="isLoggedIn"> - {{loggedUserName}}</span>
      </a>
    </span>
    

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
        <li class="nav-item" *ngFor="let items of navItems">
          <a class="nav-link" routerLink="{{items.url}}">
            <i class="bi {{items.icon}}"></i>&nbsp;&nbsp;{{items.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
