<div class="form-container">
    
    <h3>Login</h3>
    <hr>

    <!-- Email -->
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="loginEmail" placeholder="" [(ngModel)]="User.email" #emailModel="ngModel" requiredemail>
        <label for="loginEmail">Email cím</label>

        <small class="text-danger" 
               *ngIf="emailModel.value && !emailRegExp.test(emailModel.value)">
            Kérem írjon be egy helyes emailt
        </small>
    </div>

    <!-- Password -->
    <div class="form-floating mb-2">
        <input type="password" class="form-control" id="loginPassword" placeholder="" [(ngModel)]="User.password">
        <label for="loginPassword">Jelszó</label>
    </div>

    <!-- Remember Me -->
    <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" id="checkDefault" [(ngModel)]="rememberMe">
        <label class="form-check-label">
            Emlékezz rám
        </label>
    </div>

    <!-- Buttons -->
    <div class="d-flex gap-2 gombm">
        <button class="btn btn-primary" [disabled]="emailModel.value && !emailRegExp.test(emailModel.value)" (click)="login()">
            Bejelentkezés
        </button>
        
        <button class="btn btn-secondary" routerLink="/registration">
             Regisztráció
        </button>
        
    </div>
</div>
